{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="table-box p-4">

        <div class="d-flex justify-content-between align-items-center mb-4">

            <div>

                <h2 style="font-weight:700;">
                    Deliver Booking
                </h2>

                <p class="text-muted mb-0">
                    Complete payment & upload proof
                </p>

            </div>

        </div>

        <form method="POST"
              enctype="multipart/form-data">

            <!-- Payment Mode -->

            <div class="mb-4">

                <label class="mb-2 fw-bold">
                    Payment Mode
                </label>

                <select name="payment_mode"
                        class="form-control form-control-lg"
                        required>

                    <option value="">
                        Select Payment Mode
                    </option>

                    <option value="Cash">
                        Cash
                    </option>

                    <option value="UPI">
                        UPI
                    </option>

                    <option value="Bank Transfer">
                        Bank Transfer
                    </option>

                </select>

            </div>


            <!-- UTR -->

            <div class="mb-4">

                <label class="mb-2 fw-bold">
                    UTR Number
                </label>

                <input type="text"
                       name="utr_no"
                       placeholder="Enter UTR Number"
                       class="form-control form-control-lg">

            </div>


            <!-- Upload -->

            <div class="mb-4">

                <label class="mb-2 fw-bold">
                    Upload Receipt
                </label>

                <input type="file"
                       name="payment_proof"
                       accept=".jpg,.jpeg,.png,.pdf"
                       class="form-control form-control-lg">

                <small class="text-muted">

                    Allowed:
                    JPG,
                    JPEG,
                    PNG,
                    PDF

                </small>

            </div>


            <!-- Submit -->

            <button class="btn btn-success btn-lg px-5">

                Complete Delivery

            </button>

        </form>

    </div>

</div>

{% endblock %}
